body { font: 10pt sans-serif; }
@page { margin: 0mm; padding: 10mm; }

h1, h2, h3, h4, p, ol, ul, table, pre, blockquote, figure { margin: 7mm 0; }
ul ul, ul ol, ol ul, ol ol { margin: 0; }
li { margin: 1mm; }

h1, h2, h3, h4, header { color: #0366d6; font-weight: bold; page-break-after: avoid; margin-break: discard; }
header { margin-bottom: 19mm; }
header h1.title { margin: 0; }
header p.date, header p.author { float: right; clear: both; margin: 0; text-align: right; }
h1 { margin-top: 16mm; }
h2 { margin-top: 13mm; }
h3 { margin-top: 10mm; }
h4 { margin-top: 7mm; }

a { text-decoration: underline; color: #0366d6; }
hr { margin: 20pt 0; }

pre, code { background-color: #eaeaea; }
code { padding: 1pt 5pt; }
pre { padding: 10pt 10pt; }
pre code { padding: 0; }

blockquote { background-color: #fff7bb; padding: 0.1pt 7mm; border-left: 3px solid #e5d055; }
blockquote p, blockquote blockquote { margin: 3mm 0; }

table { border-collapse: collapse; }
table thead th, table tbody td { border-left: 1px solid #aaa; padding: 1pt 10pt; }
table tr td:first-child, table tr th:first-child { border: none; }
tbody tr:nth-child(odd) { background-color: #e5e5ea; }

figure { text-align: center; }
img { display: block; margin: 0 auto; }

pre { break-inside: avoid; }
/* ul { break-inside: avoid; } */
page-break { display: block; height: 0; margin: 0; padding: 0; break-after: always; }

/* Render checkboxes in weasyprint. */
ul.checklist { list-style: none; }
input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 1mm;

	border: 1px solid #a9a9a9;
	border-radius: .25em;
	width: 1em;
	height: 1em;
}
input[checked]:after
{ 
	content: '';
	display: block;
	width: 4px;
	height: 7px;

	position:relative;
	top:1px;
	left:4px;

	border: solid #000;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
