@font-face { font-family: Excalifont; src: url(Excalifont-Regular.ttf); }
@font-face { font-family: Excalifont; font-weight: bold; src: url(Excalifont-Bold.ttf); }
@font-face { font-family: Excalifont; font-style: italic; src: url(Excalifont-Italic.ttf); }
@font-face { font-family: Excalifont; font-weight: bold; font-style: italic; src: url(Excalifont-BoldItalic.ttf); }

html { font: 13pt Excalifont; line-height: 1.1; }
/* The faux italic font causes italic text to almost hit regular text to the right. */
em { padding-right: 2pt; }

header, h1, h2, h3, h4 { font-weight: normal; }
/* Want this, but weasyprint doesn't support it:
 * text-decoration: underline;
 * text-decoration-skip-ink: auto;
 * text-underline-offset: 3px;
 * text-decoration-thickness: 2px;
 */

/* Better list bullets for this font. */
ul li { list-style-type: "• "; }
ul li li { list-style-type: "ο "; }
ul li li li { list-style-type: "• "; }
ul li li li li { list-style-type: "ο "; }

/* Pretty checkboxes. */
/* ul.checklist li:has(input[type="checkbox"]) { list-style-image: url("unchecked.svg"); } */
/* ul.checklist li:has(input[type="checkbox"][checked]) { list-style-image: url("checked.svg"); } */
ul.checklist li:has(input[type="checkbox"]) { list-style-image: none; list-style-type: "[ ]"; }
ul.checklist li:has(input[type="checkbox"][checked]) { list-style-image: none; list-style-type: "[X]"; }
ul.checklist li input { display: none; }
ul.checklist li:before { content: ""; margin-left: 1mm; }

/* The TT font looks pretty big in comparison to the handwritten stuff; scale down. */
pre, code { font-size: 10pt; }
