@import mdf/base;

body { font: 10pt sans-serif; }

h1, h2, h3, h4, header { color: #0366d6; font-weight: bold; }
header { text-align: right; overflow: auto; clear: both; }
header h1.title, header h2.subtitle { margin: 0; float: left; clear: both; }
header p.date, header p.author { margin: 0; }

a { color: #0366d6; }

pre, code { background-color: #eaeaea; }

blockquote { background-color: #fff7bb; border-left: 3px solid #e5d055; }

table thead th, table tbody td { border-left: 1px solid #aaa; }
table tr td:first-child, table tr th:first-child { border: none; }
tbody tr:nth-child(odd) { background-color: #e5e5ea; }
