@import _BasicMargins;
@import _BasicStyling;
@import _BasicFonts;
@import _LetterHeading;

/*
@font-face { font-family: ArchitectsDaughter; src: url(ArchitectsDaughter-Regular.ttf); }
@font-face { font-family: ArchitectsDaughter; font-weight: bold; src: url(ArchitectsDaughter-Bold.ttf); }
@font-face { font-family: ArchitectsDaughter; font-style: italic; src: url(ArchitectsDaughter-Italic.ttf); }
@font-face { font-family: ArchitectsDaughter; font-weight: bold; font-style: italic; src: url(ArchitectsDaughter-BoldItalic.ttf); }
*/

body { font: 12pt ArchitectsDaughter, sans-serif; line-height: 1.1; }
em { padding-right: 2pt; }

h1, h2, h3, h4 { font-family: ArchitectsDaughter; font-weight: normal; display: table; border-bottom: 1pt solid #444; }
header h1, header h2, header h3, header h4 { border-bottom: none; }

/* Better list bullets */
ul li li { list-style: none; }
ul li li:before { content: "º"; padding-right: 0.4em; }
ul li li li { list-style: none; }
ul li li li:before { content: "*"; padding-right: 0.4em; }
